h1{

    /* color */

    /* 0 - > 9 a ->f  */
    color: #ff0000; /* Hexal code  */
     
    /*keyword or text*/
    text-align: center;
}
p{
    color: green;
    text-indent: 50px; /*east text piexl distance*/
    font-size: 20px;
    word-spacing: 20px; /*word distance pixel*/
    line-height: 30px; /*line word distance pixel*/
    width: 100%; /*using main %*/
    background-color: powderblue;
 }