h1 a:hover{
    color: white;
    font-size: 50px;
    background-color: red;
}

h1:hover{
    color: powderblue;
}

h1{
    text-align: center;
    color: red;
}

/* float */
.float_right img{
    width: 40%;
    float: right;
}
.clear{
    clear: both;
}
.float_left img{
    width: 40%;
    float: left;
}